:root {
  --nanotext-button-size: 1.875rem;
  --nanotext-content-padding: 0.625rem;
  --nanotext-actionbar-top: 1rem;
  --nanotext-border-color: rgba(10, 10, 10, 0.1);
  --nanotext-selected-bg: #f0f0f0;
  --nanotext-actionbar-bg: #fff;
}

.nanotext-content {
  box-sizing: border-box;
  outline: 0;
  overflow-y: auto;
  padding: var(--nanotext-content-padding) 0;
}

.nanotext-actionbar {
  background-color: var(--nanotext-actionbar-bg);
  border-bottom: 1px solid var(--nanotext-border-color);
  position: sticky;
  top: var(--nanotext-actionbar-top);
  margin: 0 auto;
  width: fit-content;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}

.nanotext-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: var(--nanotext-button-size);
  outline: 0;
  width: var(--nanotext-button-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nanotext-button-selected {
  background-color: var(--nanotext-selected-bg);
}
